/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/docs/*
/composer.lock
/web/generatedCss/
/web/generatedJs/
/web/static/
LICENSE
README.md
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE-2.4.md
UPGRADE.md
.phpintel
/web/uploads/*
node-modules
/web/static
error_log
web/.well-known/
web/adminer.php
web/error_log
