{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/misc/css/loginFix.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="/misc/js/Admin.js"></script>
    	{% set params = [] %}
    	{% set params = params|merge({'paste_auto_cleanup_on_paste': true, 'paste_convert_headers_to_strong': true, 'paste_remove_styles': true, 'paste_text_linebreaktype': true, 'paste_strip_class_attributes': 'all', 'paste_retain_style_properties': 'all', 'valid_elements': '*[*]'}) %}
		{{ tinymce_init(params) }}
{% endblock %}
{% block side_bar_after_nav %}
    <p class="text-center small" style="padding-top: 10px"><a href="mailto:ntumbalev@gmail.com" rel="noreferrer" style="color: #FA6F76" target="_blank">{{'send_request'|trans({}, 'SonataAdminBundle')}}</a></p>
{% endblock %}
