{% if accents is defined and accents is not null and accents|length %}
    <div id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section">
                        <h2>{{ 'services'|trans({}, 'NTFrontendBundle')}}</h2>
                        <div class="orangeLine"></div>
                    </div>
                </div>
            </div>
            {% for items in accents %}
                <div class="row">
                    {% for accent in items %}
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                {% if accent.translations[app.request.locale].image is defined and accent.translations[app.request.locale].image is not null and accent.translations[app.request.locale].image|length %}
                                    <div class="icon">
                                        <img src="{% path accent.translations[app.request.locale].image, 'reference' %}" alt="">
                                    </div>
                                {% endif %}
                                <h4>{{ accent.title }}</h4>

                                {% if accent.description is defined and accent.description is not null and accent.description|length %}
                                    {{ accent.description|raw }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}